body {
	background-image: url(12.jpg);
	background-size: 50%
}

p {
	font-family: fantasy;
	margin-top: 115px;
	font-size: 40px;
	text-align: center
}

a {
	color:#fff;
	text-decoration: none
}

#m1:hover {
	color: #000;
	background: #fff
}

#m2:hover {
	color: #4c76a5;
	background: #fff
}
#m3:hover {
	color: #197a2e;
	background: #fff
}
#m4:hover {
	color: #c1131c;
	background: #fff
}
#m5:hover {
	color: #95d4f4;
	background: #fff
}
